* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1400px) {
  .App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
